<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297125262256-imsenv2mn5o85s19he81svj4t4c1fij5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297125262256-imsenv2mn5o85s19he81svj4t4c1fij5</string>
	<key>API_KEY</key>
	<string>AIzaSyCWKbFhq1_5PXTuuJCT60FJWK1pmw_x_Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>297125262256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkondo.RxSwift-MVVM-iTunesAPI</string>
	<key>PROJECT_ID</key>
	<string>rxswift-mvvm-itunesapi</string>
	<key>STORAGE_BUCKET</key>
	<string>rxswift-mvvm-itunesapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297125262256:ios:ba3682c592cc144d571c75</string>
</dict>
</plist>